# Replace with your actual domain
# e.g., aurora.example.com

aurora.example.com {
  encode zstd gzip
  # Optionally add security headers
  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "SAMEORIGIN"
    Referrer-Policy "no-referrer-when-downgrade"
  }
  reverse_proxy aurora:3000
}
